<link rel="stylesheet" href="/css/flash.css">
<%if(success&&success.length){%>

    <div class="success">
        <div class="success-text">
            <div class="mark">
                <i class="fa-regular fa-thumbs-up"></i>
            </div>
            <div class="flash">
                <%=success%>
            </div>
            <div class="icon">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>
    <%}%>


        <% if(error && error.length){ %>
            <div class="error">
                <div class="error-text">
                    <div class="mark">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                    <div class="flash">
                        <%=error%>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
            <%}%>