<% layout("/layouts/boilerplate") %>
    <link rel="stylesheet" href="/css/event.css">
    <div class="outer">

        <div class="foodTruck"></div>

        <div class="eventDetails">
            <div class="giggles"><img
                    src="https://images.unsplash.com/photo-1519671845924-1fd18db430b8?q=80&w=1908&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="girls giggling"></div>
            <div class="giggles2"><img
                    src="https://images.pexels.com/photos/4825725/pexels-photo-4825725.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="">
            </div>
            <div class="event">
                <p class="head">
                    Food is at your home in holidays! </p>
                <p class="cursive">Let's Celebrate with food, music and dancing<br>
                <p class="cursive">June 20th, 2023 from 8am till 8pm</p>
                <p class="cursive">Refreshers Farm, #Anywhere Street, Calgary, Alberta.</p>
                <p>We are small group of farmers that install food stalls </p>
                <p>where you can get fruits and vegetables for your home.<br></p>
                <p> Alonghwith it Have a bite of yummy healthy</p>
                <p>& juicy dishes made of fruits and vegetables.</p>

            </div>

        </div>
        <div class="sale">
            <div class="saleText">
                <p>24 Hours</p>
                <p>
                    Flash Sale!!!!</p>
            </div>
            <div class="salepic"><img
                    src="https://images.unsplash.com/photo-1485637701894-09ad422f6de6?q=80&w=2036&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="sale"></div>

        </div>

    </div>