<% layout("/layouts/boilerplate") %>

    <body>
        <div class="box w-100 p-3"></div>
        <!--Hours-->
        <div class="hours">
            <p>We are open for this Spring and Summer Season!!</p>
            <p>Monday to Saturday 9am to 5pm</p>
            <p>Sunday 9am to 11am</p>
            <p>Hope to see you all!!</p>
        </div>

        <!--About Us-->
        <div class="aboutus">
            <img src="https://images.unsplash.com/photo-1615671524827-c1fe3973b648?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
            <div class="about">
                <div class="aboutheading">
                    <p>About Us</p>
                </div>
                <p>We serve food made with 100% chemical free ingredients. We have small farm,</p>
                <p>&nbsp;&nbsp;where we grow our vegetables and fruits. We have plants of lemon and basil,</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;basil, have some fresh vegetables like spinach, brocolli and
                    cucumbers.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We have openned a cute little restaurant in our
                    farm where you can
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    chill in the country life.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Come visit us and have this lifetime experience.</p>
                </p>
            </div>
        </div>

        <!--Images-->
        <div class="work">
            <img src="https://images.unsplash.com/photo-1572552635104-daf938e0aa1f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="">
            <img src="https://images.pexels.com/photos/5414061/pexels-photo-5414061.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
            <img src="https://images.pexels.com/photos/7601408/pexels-photo-7601408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </div>
        <div class="quote">
           <p>100% organic</p>
        </div>

    </body>

    </html>